body{
background-color: rgb(0, 255, 55);
color:rgb(0, 255, 8)
font-family: "Inter", sans-serif;
margin:0px;
}
header{
    font-size: 50px;
border: dotted 10px aqua;
text-align: center;
/*margin: 30px;*/
padding: 30px;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.chamada{
    background-color: rgb(66, 44, 126);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}
.chamada-texto{
    margin-right: 10%;
}
img{
    width: 200xp;
    height: 300xp;
}

.Outras recomendaçoẽs{
    display: flex;
    overflow-x: auto;
    gap: 10xp;
    padding-left: 20xp;
}

h2{
    padding-left: 30xp;
}

body{
    padding-bottom: 40xp;
}
